@import "./utils/vars";
@import "./utils/common";
@import "./components/common";
@import "./components/header";
@import "./components/hero";
@import "./components/modalform";
@import "./components/features";
@import "./components/do";
@import "./components/team";
@import "./components/socmedia";
@import "./components/customers";
@import "./components/footer.scss";
@import "./components/portfoliobuttons";
@import "./components/portfolioprojects";
@import "./components/menu.scss"
