/* Хедер */
.logo{
    color: var(--btnbg-color);
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
&__accent{
    color: var(--h-color)
}
&__accent--foot{
    color: var(--btnlet-color);
}
}
.main-nav{
    display: flex;
    align-items: center;
}
.nav-link.logo{
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.nav{
    margin-left: 93px;
}
.site-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--h-color);
    display: flex;
    align-items: center; 
&.link.current{
    color: var(--btnbg-color);
} 

}
.cont{
    margin-left: 70px;
}
.portfolio{
    margin-left: 53px;
}
.contacts{
    display: flex;
    gap: 50px;
    align-items: center;
    /* margin-left: 340px; */
    margin-left: auto;
    @media screen and (min-width: 320px), (max-width:1200px) {
        flex-wrap: wrap;
        margin-left: auto;
    }
&__link {   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: fill var(--timing-function), color var(--timing-function);
}
&__link:hover,
&__link:focus {
    fill: currentColor;
    color: var(--btnbg-color);    
}
}


.button-icon-envelope{
    margin-right: 5px;
}
.button-icon-smartphone{
    margin-right: 10px;
}
.header{
    border-bottom: 1px solid var(--border-header);
}
.nav-link{
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--timing-function);
&.current::after {
    content: '';
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 5px;
    background-color: var(--btnbg-color);    
    opacity:1;    
}
&:hover,
&:focus {
    color: var(--btnbg-color);
}
}
