.menu-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto; 
    @media screen and (min-width: 768px) {
        display: none;
    }  
}
.menu-toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
}
.menu-toggle:active{
    fill: var(--btnbg-color);
    
}
.menu-container{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 40px 48px;
    background-color: var(--btnlet-color);
    transform: translateX(100%);
    transition: transform 400ms;
    &.is-open{
        transform: translateX(0);
    }
}
.mobile-nav{
    display: flex;    
    flex-direction: column;
    margin-bottom: auto;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;  
    color: var(--h-color);
}
.mobile-nav .link:hover,
.mobile-nav .link:focus{
    color: var(--btnbg-color);
}
.mobcontacts__item--mail{
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.02em;
}
.mobcontacts__item--tele{
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28/34);
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}
.mobcontacts .link:hover,
.mobcontacts .link:focus {
    color: var(--btnbg-color);
}
.mobile-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;   
}
.div-link {
        padding-right: 10px;
        padding-left: 10px;        
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
.div-link:last-child{
    border-right: none;
}    
.mobile-socials .link:hover,
.mobile-socials .link:focus {
    color: var(--btnbg-color);
}