.modal{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform var(--timing-function);   
    max-width: 528px;
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;      
    background-color: var(--btnlet-color);
&__btn{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 8px;
            right: 8px;
            width: 30px;
            height: 30px;
            padding: 6px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: var(--btnlet-color);
            transition: fill var(--timing-function);
            cursor: pointer;
            /* box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25); */
        }
    
&__btn:hover,
&__btn:focus {
            fill: var(--btnbg-color);
        }
}
.regform{
    max-width: 448px;
    min-height: 581px;   
    padding: 0;    
    background-color: var(--btnlet-color);
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;     */

&__head{
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--h-color);
    margin-bottom: 25px;    
    margin-left: 0;
    margin-right: 0;
}
&__item{
    display: block;
    position: relative;
    border-radius: 4px;
    width: 100%;
         
    flex-direction: column;    
    text-align: start;
    margin-bottom: 20px;
}
&__label{    
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;   
}
&__input{
    /* outline: 2px solid brown; */
    margin: 0;
    /* padding: 10px 18px; */
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 45px;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: outline var(--timing-function);
}
&__message{
    display: block;
    width: 100%;
    height: 138px;
    padding: 18px;
    font-size: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
}
&__icon{
    position: absolute;
    top: 50%;
    left: 10px;    
    display: inline-block;
    
    transition: fill var(--timing-function);
}
&__item:focus-within &__icon{
    fill: var(--btnbg-color);
}
&__item:focus-within &__input {
    outline: none;
    border: 1px solid var(--btnbg-color);
}
&__item:focus-within &__message {
    outline: none;
    border: 1px solid var(--btnbg-color);
}
&__agreement{ 
    /* position: absolute;
    bottom: 100px;     */
    display: flex;  
    align-items:flex-start;
    justify-content: center;    
    /* width: 423px; */
    /* margin-bottom: 20px; */
    
}
&__icon--checked{
    opacity: 0;
    transition: opacity var(--timing-function) ;
    fill: var(--btnbg-color);
}
&__icon--unchecked{
    opacity: 1;
    transition: opacity var(--timing-function);
}
&__checkbox:checked + &__icons &__icon--checked{  
    opacity: 1; 
    /* background-image: url(../images/iconcheck.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--btnbg-color); */
}
&__checkbox:checked + &__icons &__icon--unchecked {
    opacity: 0;
}
&__desc{   
    display: block;
    line-height: calc(24/14);   
    user-select: none; 
    padding: 0   
}
&__checkbox{          
    font: inherit;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    margin-top: 20px;   
}
&__btn{    
    display: block;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    background-color: var(--btnbg-color);
    text-align: center;
    color: var(--btnlet-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    margin: 0 auto;  
    margin-top: 20px;
    cursor: pointer;  
}
&__btn:hover,
&__btn:focus{
    background-color: #188ce8;
}
}
