.but,
.buttonall {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--h-color);
    background-color: var(--filter-color);
    border: none;
    border-radius: var(--btn-radius);
    padding: 6px 22px;
    transition: color var(--timing-function),
        background-color var(--timing-function),
        text-shadow var(--timing-function),
        box-shadow var(--timing-function);
}

.buttons {
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    }
& .item {
    margin: 8px;
}

& .item:last-child {
    margin-right: 0px;
}
}


.buttonall {
    background-color: var(--btnbg-color);
    color: var(--btnlet-color);
    cursor: pointer;
&:hover,
&:focus {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

}
}
.but:hover,
.but:focus {
    background-color: var(--btnbg-color);
    color: var(--btnlet-color);
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}