.socialmedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
    fill: var(--icon-color);
    border-radius: 50%;
    transition: fill var(--timing-function), background-color var(--timing-function);
}

.icon:hover,
.icon:focus {
    background-color: var(--btnbg-color);
    fill: var(--btnlet-color);
    cursor: pointer;

}