.team__section {
    background-color: var(--filter-color);
}

.team {
    @media screen and (min-width:320px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
}

.item__team {
    background-color: var(--btnlet-color);
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow var(--timing-function), cursor 250ms var(--timing-function);
}

.item__team:hover,
.item__team:focus {
    box-shadow: var(--cards-box-shadow);
    cursor: pointer;
}

.teamcard__profession {
    margin-bottom: 16px;
}
.teamcard {
    padding: 30px;
}