:root {
    /* fonts */
    --main-font:
        'Roboto', sans-serif;
    --logo-font:
        'Raleway';

    /* colors */
    --h-color: #212121;
    --color-text: #757575;
    --btnlet-color: #FFFFFF;
    --filter-color: #F5F4FA;
    --border-header: #ECECEC;
    --border-card-projects: #EEEEEE;
    --icon-color: #AFB1B8;
    /* bcg colors */
    --btnbg-color: #2196F3;
    --footbcg-color: #2F303A;
    /* Others */
    --btn-radius: 4px;
    --card-set-gap: 30px;
    --cards-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1)
    
}